[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
